@inherits LayoutComponentBase


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/icons/dotnet_60x60.png" alt=".NET Conf" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/agenda">议程</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/speakers">讲师</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/local-events">指南</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/swag">周边</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="/swag">行为准则</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@Body

<div class="container">
    <hr>
    @*<div class="row">
            <div class="col">
                <div class="text-center">
                    <h5>
                        <b><a href="http://eepurl.com/gvEhgX" target="_blank">Subscribe to notifications</a> to keep up with .NET Conf news!</b>
                    </h5>
                </div>
                <div class="text-center">
                    <h5>
                        Join the conversation <a href="https://twitter.com/search?q=%23dotnetconf" target="_blank">#dotNETConf</a>
                    </h5>
                </div>
            </div>
        </div>*@
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h2>Our sponsors</h2>
                @foreach (var sponsor in Config.Sponsors ?? Array.Empty<Sponsor>())
                {
                    <a href="@sponsor.Url" target="_blank">
                        <img class="img-fluid sponsor" src="@sponsor.Logo" alt="@sponsor.Name" width="@sponsor.Width">
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h3 class="bottom">.NET</h3>
                <h4>your platform for building anything</h4>
                <h4>
                    <a href="https://dot.net" target="_blank">www.dot.net</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                © 2020 <a href="https://dotnetfoundation.org" target="_blank">.NET Foundation</a>.
                <a href="https://dotnetfoundation.org/about/code-of-conduct" target="_blank">Code of Conduct</a> |
                <a href="https://dotnetfoundation.org/about/privacy-policy" target="_blank">Privacy Policy</a>
            </div>
            <div class="col-auto">
                This website is made with Blazor and ❤
            </div>
        </div>
    </div>
</footer>
