@inherits LayoutComponentBase


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/icons/dotnet_60x60.png" alt=".NET Conf" width="40" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/agenda">议程</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/speakers">讲师</a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link text-dark" href="/local-events">Local Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/swag">Swag</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>
</header>
@Body
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                © 2020 <a href="https://dotnetfoundation.org" target="_blank">.NET Foundation</a>.
                <a href="https://dotnetfoundation.org/about/code-of-conduct" target="_blank">Code of Conduct</a> |
                <a href="https://dotnetfoundation.org/about/privacy-policy" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
