@page "/agenda"

<div class="container">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-md-left text-center">
                <div class="box h-100 d-flex justify-content-end flex-column">
                    <h3>.NET Conf 2020, Nov 10-12</h3>
                </div>
            </div>
            <div class="col-md-6 text-md-right text-center">
                <div class="row">
                    <div class="col">
                        <div title="" class="addeventatc" id="addeventatc1" aria-haspopup="true" aria-expanded="false" tabindex="0" translate="no" data-loaded="true" style="visibility: visible;">
                            Save the Date!
                            <span class="start atc_node notranslate">11/10/2020 08:00 AM</span>
                            <span class="end atc_node notranslate">11/12/2020 5:00 PM</span>
                            <span class="timezone atc_node notranslate">America/Los_Angeles</span>
                            <span class="title atc_node notranslate">.NET Conf 2020</span>
                            <span class="description atc_node notranslate">Tune in for .NET Conf 2020! https://www.dotnetconf.net </span>
                            <span class="location atc_node notranslate">www.dotnetconf.net</span>
                        </div>
                        <a href="https://www.facebook.com/events/809642546438816/" target="_blank"><img class="img-fluid" src="/img/Facebook.svg" alt="Facebook event"></a>
                        <a href="https://twitter.com/search?q=%23dotnetconf" target="_blank"><img class="img-fluid" src="/img/Twitter.svg" alt="Join the conversation on Twitter"></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <main role="main" class="pb-3">

        <div class="container">
            <div class="row ">
                <div class="col">

                    <div class="text-center">
                        <h2>Conference at a glance</h2>
                    </div>
                </div>
                <div class="text-body">
                    <p>
                        .NET 5.0 launches at .NET Conf and we have an amazing keynote in store for you this year with a very special guest!
                        Our sponsors are also hosting a virtual attendee party on Day 1 where you can participate in a technical treasure hunt, answer trivia questions, and win prizes.
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <strong>Day 1 - November 10</strong>
                                    <br>
                                    <i>Day one is all about the big news, .NET 5! Join the .NET team on all the new things you can do with the latest release.</i>
                                </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>8:00 - 9:00</td>
                                <td>Keynote</td>
                            </tr>
                            <tr>
                                <td>9:00 - 16:30</td>
                                <td>Sessions from the .NET Team at Microsoft</td>
                            </tr>
                            <tr>
                                <td>16:30 - 18:00</td>
                                <td>Virtual Attendee Party! Engage with our sponsors and win prizes.</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <strong>Day 2 - November 11</strong>
                                    <br>
                                    <i>Day two is where we dive deeper into all the things you can do with .NET and our 24 hour broadcast begins.</i>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>9:00 - 17:00</td>
                                <td>Sessions from teams at Microsoft</td>
                            </tr>
                            <tr>
                                <td>17:00 - 23:59</td>
                                <td>Community Sessions in local time zones around the world</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <td colspan="2">
                                    <strong>Day 3 - November 12</strong>
                                    <br>
                                    <i>Day three continues our all day and night broadcast with speakers around the world in their own time zones.</i>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>0:00 - 17:00</td>
                                <td>Community Sessions in local time zones around the world</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        All times listed in Pacific Time (UTC -8).
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2>Schedule</h2>
                        <button id="user-tz">Add your time zone</button>
                    </div>

                    <div class="text-body">
                        <h2>Day #1</h2>


                        <div class="text-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>Keynote - Welcome to .NET 5</strong>

                                            &nbsp;-&nbsp;
                                            <a href="https://twitter.com/coolcsh" target="_blank">Scott Hunter</a>
                                            <span>&nbsp;</span>

                                            <p class="time" data-time="2020-11-10T16:00:00.0000000Z">08:00 (PT)&nbsp;|&nbsp;16:00 (UTC)</p>
                                            <p>Scott Hunter, Director of Program Management for .NET, will kick off the day with loads of new demos and some very special guests. </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>.NET Foundation "State of the Foundation"</strong>

                                            &nbsp;-&nbsp;
                                            <a href="https://twitter.com/clairernovotny" target="_blank">Claire Novotny</a>
                                            <span>&nbsp;</span>
                                            <a href="https://twitter.com/laylacodesit" target="_blank">Layla Porter</a>
                                            <span>&nbsp;</span>

                                            <p class="time" data-time="2020-11-10T17:00:00.0000000Z">09:00 (PT)&nbsp;|&nbsp;17:00 (UTC)</p>
                                            <p>Take a look at what the .NET Foundation has been up to and how to get involved.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="text-body">
                        <h2>Day #2</h2>

                        <div class="text-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>GitHub + Visual Studio ❤ .NET</strong>

                                            &nbsp;-&nbsp;
                                            <a href="https://twitter.com/vixgrows" target="_blank">Vix Rian</a>
                                            <span>&nbsp;</span>
                                            <a href="https://twitter.com/andysterland" target="_blank">Andy Sterland</a>
                                            <span>&nbsp;</span>

                                            <p class="time" data-time="2020-11-11T17:00:00.0000000Z">09:00 (PT)&nbsp;|&nbsp;17:00 (UTC)</p>
                                            <p>GitHub and Visual Studio technologies have evolved and provide unique productivity enhancements to all .NET developers. Join this demo-filled session to see how it benefits you.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>Effectively Diagnose and Debug .NET Apps in Visual Studio</strong>

                                            &nbsp;-&nbsp;
                                            <a href="https://twitter.com/poppastring" target="_blank">Mark Downie</a>
                                            <span>&nbsp;</span>

                                            <p class="time" data-time="2020-11-11T18:00:00.0000000Z">10:00 (PT)&nbsp;|&nbsp;18:00 (UTC)</p>
                                            <p>Debug .NET Core running on Linux, master async debugging, and squeeze the last bit of performance out of your apps with the new features in Visual Studio.</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>