@page "/organizors"

<div class="container">
    <main role="main" class="pb-3">
        <div class="text-center">
            <h2>出品组</h2>
        </div>
        <div class="container">
            <Row Gutter="16">
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
            </Row>
        </div>
        <div class="text-center">
            <h2>会务组</h2>
        </div>
        <div class="container">
            <Row Gutter="16">
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
            </Row>
        </div>
        <div class="text-center">
            <h2>网站组</h2>
        </div>
        <div class="container">
            <Row Gutter="16">
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
                <Col Xs="2" Sm="4" Md="6" Lg="8" Xl="10">
                <Card Hoverable Style="width: 240px" Cover="coverTemplate">
                    <CardMeta Title="Europe Street beat" Description="www.instagram.com" />
                </Card>
                </Col>
            </Row>
        </div>
    </main>
</div>

    @code
{
        private RenderFragment coverTemplate =@<img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />;

    }
