@page "/speakers"

<div class="container">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6 text-md-left text-center">
                <div class="box h-100 d-flex justify-content-end flex-column">
                    <h3>.NET Conf 2020, 12月19-20日</h3>
                </div>
            </div>
            <div class="col-md-6 text-md-right text-center">
                <div class="row">
                    <div class="col">
                        <a href="@LocaleService.CurrentLocale.CallToAction?.Link" target="_blank">
                            <div title="" class="addeventatc" id="addeventatc1" aria-haspopup="true" aria-expanded="false" tabindex="0" translate="no" data-loaded="true" style="visibility: visible;">
                                立即报名！
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main role="main" class="pb-3">
        <div class="container">
            <div class="row padded">
                <div class="col">
                    <div class="text-center">
                        <h2>演讲者</h2>
                        <p>感谢我们超棒的演讲者们！ @*Check out <a href="/agenda">the agenda.</a>*@</p>
                    </div>

                </div>
            </div>
            @foreach (var items in LocaleService.CurrentLocale.Speakers.Select((s, i) => new { Value = s, Index = i })
            .GroupBy(x => x.Index / 100)
            .Select(grp => grp.Select(x => x.Value).ToArray())
            .ToArray())
            {
                <div class="row speakerrow">
                    @foreach (var speaker in items)
                    {
                        <div class="col-sm speakercolsm">
                            <div class="speaker card-1">
                                <div class="row">
                                    <div class="col-4">
                                        <img class="img-fluid rounded-circle" src="@speaker.Image" width="100">
                                    </div>
                                    <div class="col speakercol">
                                        <h3 class="name">@speaker.Name</h3>
                                        @foreach (var intro in speaker.Introduction)
                                        {
                                            <p>@intro</p>
                                        }
                                        @*<p><a href="https://twitter.com/slace" target="_blank">@@slace</a></p>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </main>
</div>